# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Ignore model files
app/models/yolo_model.py
app/models/ocr_model.py
models/ocr_model.pth
models/yolo_model.pt
